$ORIGIN	ejemplo.com.
$TTL 86400
@   IN  SOA     masterdns.ejemplo.com. root.ejemplo.com. (
        {{ serialZone }}  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@       IN	NS	masterdns.ejemplo.com.
@       IN	NS	slavedns1.ejemplo.com.
@       IN	A	{{ dnsmaster }}
@       IN	A	{{ dnsmaster }}
slavedns1        A	{{ dnsslave }}
masterdns        A	{{ dnsmaster }}
www              A	{{ dnsmaster }}
misubdomio	 A	192.168.4.103
